.container{
  
    text-align: center;
  
}

.image{

    display: inline-block;
    border-radius: 7px;
    width: 500px;
    height: 250px;
}

.a{

    text-align: center;

}

.p{
    
    font-size: 21px;

}

td{
    
    color: white;
    text-align: center;   
    border: rgb(46, 117,90) 2px solid;
    margin-top: 100px;

}
th{

    color: white;
    text-align: center;   
    margin-top: 100px;

}


.table{
     font-size: 35px;
     padding-top: 100px;
     width: 300px;
     margin: auto;
} 


.TEXT{
    font-size: 17px;
    
}


.button{
    padding: 5px 15px;
    margin-top: 10px;
    background-color: black;
    border: none;
    outline: none;
    color: #fff;
    font-size: 10px;
    font-weight: 700;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.3s;
}


.navbar{
    position: absolute;
    right: 0;
    background-color: transparent;
    padding: 27px 0;
    top: 0;
    z-index: 100;
    line-height: 20px;
  }



.navbar-menu a{
    text-decoration: none;
    font-size: 21px;
    font-weight: 500;
    font-family: 'Raleway',sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-left: 5px;
    margin-right: 30px;
    display: inline-block;
    color: #fff;
  }


.navbar-menu a::after{
    content: '';
    display: block;
    width: 0;
    height: 1.8px;
    background-color: #fff;
    transition: width .3s;
  }  


.navbar-menu a[id="about"]:hover::after{
    width: 100%;
  }  

  .navbar-menu a[id="home"]:after{
    width: 100%;
  }  

  



